.mobile-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 95vw;
    padding-bottom: 60px;

    .header-mobile-profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 55px 25px 25px 25px;
        width: 100%;

        .main-data-cont {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;

            .user-avatar-container{
                display: flex;
    
                .profile-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
    
                    position: relative;
                    padding: 3px;
                    box-sizing: border-box;
    
                    $border: 5px;
                    color: #FFF;
                    background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%) no-repeat;
                    background-size: cover;
                    background-clip: padding-box;
                    border: solid $border transparent; 
                    border-radius: 100px;          
                }
            }
            
            .user-main-container {
                display: flex;
                margin-left: 5vw;
                flex-direction: column;

                .date-joined {
                    font-size: 13px;
                    color: var(--profile-nav-panel-non-active);
                    margin-top: 5px;
                }

                .user-data {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
    
                    p {
                        font-size: 21px;
                        font-weight: 600;
                        color: var(--black_to_white);
                    }
        
                    .icon{
                        font-weight: 500;
                        font-size: 15px;
                        margin-left: 5px;
                        color: var(--profile-nav-panel-non-active);
                    }
                }

                .opened-header-menu {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: fixed;
                    margin-top: 35px;
                    color: white;
                    background-color: #f8392f;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 15px;
                    cursor: pointer;

                    .icon {
                        margin-top: 2px;
                        margin-left: 10px;
                    }
                } 
            }
        }
    }

    .main-mobile-profile {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        padding: 25px 25px;

        .name-surname-container {
            display: flex;
            height: 40px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
            border-bottom: 1px solid #ADADAD;

            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }

            .data {
                color: var(--profile-headers-color)
            }
        }

        .email-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 40px;
            width: 100%;
            margin-bottom: 40px;
            border-bottom: 1px solid #ADADAD;
            font-size: 16px;
            margin-top: 30px;

            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }

            .data {
                color: var(--profile-headers-color)
            }
        }
        
        .subscription-container {
            display: flex;
            height: 40px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            color: #3F3F3F;
            border-bottom: 1px solid #ADADAD;
            margin-top: 30px;

            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }

            .sub {
                color: var(--profile-header-head-prewiew);
            }
        }
    }

    .home-link {
        display: flex;
        margin-top: 60px;
        font-size: 24px;
        text-decoration: none;
        align-items: center;
        padding: 8px;
        padding: 10px 20px;
        border-radius: 20px;

        p{
            margin-left: 10px;
            color: var(--profile-header-head-prewiew);
        }

        .icon {
            margin-top: 2px;
            color: var(--profile-header-head-prewiew);
        }
    }
}