.ass-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    .ass-header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
        border-color: rgb(215, 215, 215);
        width: 100%;
        margin-bottom: 50px;

        .ass-header-name {
            font-weight: 600;
            margin-bottom: 10px;
            color: var(--black_to_white);
        }

        .ass-header-desc {
            font-size: 13px;
            color: var(--profile-nav-panel-non-active);
            margin-bottom: 20px;
        }
    }

    .ass {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 769px) {
            flex-direction: column;
        }

        .ass-main {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom: 50px;

            @media screen and (max-width: 769px) {
                width: 100%;
            }
    
            .ass-theme {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-bottom: 40px;

                @media screen and (max-width: 769px) {
                    width: 100%;
                }
                
                .ass-theme-name {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--profile-nav-panel-non-active);
                    margin-bottom: 20px;
                    border-bottom: 1px solid rgb(226, 226, 226);
                    padding-bottom: 10px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                }
            }

            .ass-languague {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-bottom: 40px;

                @media screen and (max-width: 769px) {
                    width: 100%;
                }
                
                .ass-languague-name {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--profile-nav-panel-non-active);
                    margin-bottom: 20px;
                    border-bottom: 1px solid rgb(226, 226, 226);
                    padding-bottom: 10px;

                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                }
            }

            .ass-delete {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-bottom: 40px;

                @media screen and (max-width: 769px) {
                    width: 100%;
                }
                
                .ass-delete-name {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 600;
                    color: #F85149;
                    margin-bottom: 20px;
                    border-bottom: 1px solid rgb(226, 226, 226);
                    padding-bottom: 10px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                }

                .ass-delete-desc {
                    font-size: 13px;
                    color: var(--profile-headers-color);
                    margin-bottom: 20px;
                }

                .ass-delete-account {
                    width: fit-content;
                    height: fit-content;
                    min-height: 35px;
                    background-color: var(--grey_to_red);
                    color: var(--red_to_white);
                    border: 1px solid var(--grey_to_red);
                    border-radius: 7px;
                    padding: 5px 10px;
                    

                    @media screen and (max-width: 769px) {
                        background-color: #F85149;
                        color: white;
                    }
        
                    &:hover {
                        background-color: #f8392f;
                        color: white;
                    }
                }
            }
        }

        .ass-password {
            display: flex;
            flex-direction: column;
            width: 50%;
            right: 0;
            
            @media screen and (max-width: 769px) {
                margin-bottom: 40px;
                width: 100%;
            }

            .ass-password-name {
                font-size: 20px;
                font-weight: 600;
                color: var(--profile-nav-panel-non-active);
                margin-bottom: 40px;
                border-bottom: 1px solid rgb(226, 226, 226);
                padding-bottom: 10px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; 
            }
            
            .password-line {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 25px;
                width: 100%;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--profile-nav-panel-non-active);
                    margin-bottom: 10px;
                }

                input {
                    width: 80%;
                    height: 32px;
                    border: 1px solid var(--profile-input-border);
                    border-radius: 8px;
                    padding: 16px 10px;
                    margin-bottom: 20px;
                    max-width: 400px;
                    background-color: var(--profile-bg);
                    color: var(--black_to_white);
    
                    &:hover {
                        border: 1px solid #5643CC;
                    }
                }
            }

            .update-profile {
                width: fit-content;
                height: fit-content;
                min-height: 35px;
                background-color: #959595;
                color: white;
                border: 0;
                border-radius: 7px;
                padding: 5px 10px;
            }

            .active-change-password {
                background-color: var(--profile-header-head-prewiew);

                &:hover {
                    background-color: #6651f0;
                }
            }
        }
    }
}