.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.register-container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}