.register-page {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: var(--sign_bg);

    @media screen and (max-width: 768px) {
        background: var(--white_to_black);
    }
}

.register-container {
    display: flex;
    position: absolute;
    animation: slideInRegister 0.5s;
   
    @media screen and (max-width: 768px) {
        animation: none;
        position: relative;
    }

    @keyframes slideInRegister {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
}