.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: var(--sign_bg);
}

.login-container {
    display: flex;
    position: absolute;
    animation: slideInLogin 0.5s;

    @media screen and (max-width: 768px) {
        top: 0;
    }

    @keyframes slideInLogin {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}