.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-blocks-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .home-block-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        .home-block {
            padding: '50px 0 50px 0';

            .game-home-container {
                position: absolute;
                width: 20px;
            }
        
            .home-block_info { 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .heading {
                    font-weight: 700;
                    overflow: hidden;
                }

                .description {
                    font-weight: 500;
                    overflow: hidden;
                }
    
                .home-button {
                    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
                    border-radius: 30px;
                    border-style: none;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    cursor: pointer;
                    font-size: 21px;
                    align-items: center;
                    justify-content: center;
                    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        
                    &:hover {
                        box-shadow: rgba(80, 63, 205, 0.5) 7px 7px 5px;
                        width: 80%;
                    }
                }
            }
    
            .home-block_image {
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

.home-foot-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 200px);
    height: 64px;
    width: 400px;

    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 30px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    align-items: center;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;

    &:hover {
        left: calc(50% - 12.5%);
        width: 25%;
    }
}

.payment-carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: linear-gradient(90deg, #455db57a, #af42616c);
    z-index: 0;
     
    &:hover{
        filter: blur(0px);
    }

    .payment-carousel-header {

        .top {
            font-weight: normal;
            font-size: 60px;
            text-align: left;
            cursor: pointer;
            margin-bottom: 20px;
            
            background-image: linear-gradient(45deg, #455EB5, #af4261);
            
            background-size: 100%;
            background-repeat: repeat;
        
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 

            animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
            
            &:hover{
                animation: rainbow-text-simple-animation 0.5s ease-in forwards;
            }

            @keyframes rainbow-text-simple-animation-rev {
                0% {
                    background-size: 650%;
                }
                40% {
                    background-size: 650%;
                }
                100% {
                    background-size: 100%;
                }
            }

            @keyframes rainbow-text-simple-animation {
                0% {
                    background-size: 100%;
                }
                80% {
                    background-size: 650%;
                }
                100% {
                    background-size: 650%;
                }
            }
        }

        .bottom {
            font-size: 30px;
            text-align: left;
            max-width: 60%;
            cursor: pointer;
            margin-bottom: 20px;

            background-image: linear-gradient(45deg, #455EB5, #af4261);

            background-size: 100%;
            background-repeat: repeat;
        
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
    }
}