.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;

    .dashboard-main {
        width: 100%;
    }
    
    .dashboard-mobile-main {
        width: 100%;
        margin-top: 70px;

        .tmb-mobile-box {
            padding: 0 10px;
        }
    }
}