.dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .dashboard-main {
        width: 100%;
    }
    
    .dashboard-mobile-main {
        width: 100%;
        min-height: calc(100vh - 130px);
        margin-top: 70px;
        margin-bottom: 60px;

        .tmb-mobile-box {
            position: fixed;
            padding: 0 10px;
        }
    }
}