.dashboard-panel {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-x: auto;

    .icon-contaner {
        display: flex;
        width: 100%;
        height: 15vh;
        justify-content: center;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .nav-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 80%;

        .nav-link {
            display: flex;
            margin-bottom: 20px;
            font-size: 18px;
            text-decoration: none;
            align-items: center;
            padding: 8px;
            border-radius: 10px;

            .icon {
                margin-left: 5px;
                color: #6F6F6F;
            }

            p{
                margin-left: 5px;
                color: var(--profile-nav-panel-non-active);
            }
        }

        .active {

            .icon {
                color: var(--profile-header-head-prewiew);
            }

            p{
                font-weight: var(--profile-nav-font-weight);
                color: var(--profile-nav-panel-active);
            }
        }
    }

    .storage-panel {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 8px;
        border-top: 1px solid;
        color: var(--profile-header-head-prewiew);
    }
}