.dashboard-content {
    display: flex;
    align-items: center;
    margin-top: 85px;

    @media screen and (max-width: 768px) {
        margin-top: 70px;
        justify-content: center;
    }

    .icon {
        font-size: 100px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
        }
    }
}