.mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: var(--profile-mobile-nav);
    position: fixed;
    bottom: 10px;
    width: 70vw;

    .nav-link {
        color: var(--profile-nav-panel-non-active);
        font-size: 20px;
        padding: 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .active {
        color: var(--profile-header-head-prewiew);
    }
}