.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    position: fixed;
    bottom: 10px;
    width: 75vw;
    height: 50px;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 100%;

        color: white;
        background-color: var(--profile-header-head-prewiew);
        border-radius: 10px 0 0 10px;
        font-size: 20px;
        padding: 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--profile-mobile-nav);
        border-radius: 0 10px 10px 0;
        width: 75%;
        height: 100%;

        .nav-link {
            color: var(--profile-nav-panel-non-active);
            padding: 5px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 20px;
        }
    
        .active {
            color: var(--profile-header-head-prewiew);
        }
    }
}