.prof-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 300px);
    height: 15vh;

    .name {
        font-size: 30px;
        font-weight: 600;
    }

    .user-data-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 80px;
        font-size: 20px;
        cursor: pointer;

        .user {
            display: flex;
            flex-direction: column;
            align-items: center;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; 

            .user-data {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin: 0 5px 0 5px;
                }
    
                .icon{
                    font-size: 15px;
                    margin-top: 2px;
                }
            }

            .opened-header-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: fixed;
                margin-top: 35px;
                color: white;
                background-color: #5543cc7c;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 15px;

                .icon {
                    margin-top: 2px;
                    margin-left: 10px;
                }
            } 
        }

        .profile-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            margin: auto;

            position: relative;
            padding: 3px;
            box-sizing: border-box;

            $border: 5px;
            color: #FFF;
            background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%) no-repeat;
            background-size: cover;
            background-clip: padding-box;
            border: solid $border transparent; 
            border-radius: 30px;            
        }
    }
}