.terms-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 4;
}

.box-terms {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms-box-close {
    color: #ffffff;
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
}

.terms-widget {
    width: 300px;
    background-color: rgb(236, 236, 236);
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: absolute;
    z-index: 5;
}