html {
    overflow-x: hidden;
}

* {
    font-family: 'Cairo';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.25s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: rgb(255, 255, 255);
}

select, textarea, input {
            font-family: 'Cairo';
            font-size: 16px;
}