.my-account-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    padding-bottom: 40px;
    margin-bottom: 50px;

    .my-account-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header-profile-head-image {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            height: 160px;
            width: 100%;
            background: var(--profile-header-head);

            .change-head-image {
                display: flex;
                height: 40px;
                margin: 20px 10px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;

                .icon {
                    border-radius: 5px;
                    width: 40px;
                    height: 40px;
                    margin: 20px 10px;
                }
            }
        }

        .header-profile-head-data-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            bottom: 60px;

            .profile-icon {
                border-radius: 200px;
                width: 200px;
                height: 200px;
                background-repeat: no-repeat;
                background: var(--profile-bg);
                background-size: cover;
                background-clip: padding-box;
                object-fit: cover;
                border: 5px solid var(--profile-avatar-circle-border);
                box-shadow: var(--profile-avatar-circle-box-shadow);
            }

            .center-row {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                margin-left: 30px;

                .username {
                    font-size: 25px;
                    font-weight: 600;
                    color: var(--black_to_white);
                    line-height: 40px;
                }

                p {
                    color: var(--profile-nav-panel-non-active);
                }

                .edit-icon {
                    font-size: 18px;
                    color: #683fd7b3;
                }
            }
        }
    }

    .my-account {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 60px;

        .name-surname-container {
            display: flex;
            height: 40px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
            color: #3F3F3F;
            border-bottom: 1px solid #ADADAD;

            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }
            
            p {
                color: var(--profile-headers-color)
            }
        }

        .email-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 40px;
            width: 100%;
            margin-bottom: 40px;
            border-bottom: 1px solid #ADADAD;
            font-size: 16px;
            color: #3F3F3F;
            margin-top: 30px;
            
            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }

            p {
                color: var(--profile-headers-color)
            }
        }
        
        .subscription-container {
            display: flex;
            height: 40px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            color: #3F3F3F;
            border-bottom: 1px solid #ADADAD;
            margin-top: 30px;
            
            .icon {
                color: var(--profile-header-head-prewiew);
            }

            .title {
                font-weight: 500;
                margin-left: 10px;
                color: var(--black_to_white);
            }

            .sub {
                color: var(--profile-header-head-prewiew);
            }
        }
    }

    .storage-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100vw - 480px);
        height: 300px;

        .stats-header {
            width: 100%;
            font-weight: 600;
            font-size: 25px;
            color: var(--black_to_white);
        }
    }
}